@font-face {
  font-family: 'Bookerly';
  src: url("/../src/assets/fonts/Bookerly.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Bookerly';
  src: url("/../src/assets/fonts/BookerlyBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Bookerly';
  src: url("/../src/assets/fonts/BookerlyLight.ttf");
  font-weight: light;
}

@font-face {
  font-family: 'Walmart';
  src: url("../../assets/fonts/Walmart.TTF");
}


.App {
  text-align: center;
  // background-color: #262626;
  background-color: #fff8ee;
  height: 100vh;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.overlay {
  // display: none;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #fff8ee;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  padding: 30px;

  h2 {
    margin: 0;
    font-size: 24px;
    text-align: left;
  }

  .cart-items-wrap {
    flex: 1;
  }

  .cart-items-container {
    max-height: 420px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px gray;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 10px;
      margin-left: 10px;
    }
  }

  .cart-item {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 10px;

    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 25px;
    margin-top: 10px;

    overflow: hidden;

    transition: transform ease-in-out 0.2s, box-shadow 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
    }
  }

  .item-content-container {
    display: flex;
    align-items: center;
  }

  .product-info {
    text-align: left;
    margin-left: 20px;

    font-family: Bookerly;
    font-weight: bold;
  }

  .product-info__product-title {
    font-size: 24px;
  }

  .product-image {
    width: 70px;
    height: 70px;
    // background-image: url(./../../assets/img/products/1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .product-delete {
    width: 30px;
    height: 30px;
    background: url('../../assets/icons/productClose.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;

    border: solid 1px rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    padding: 5px;

    cursor: pointer;
  }
}