@font-face {
  font-family: 'Bookerly';
  src: url("/../src/assets/fonts/Bookerly.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Bookerly';
  src: url("/../src/assets/fonts/BookerlyBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Bookerly';
  src: url("/../src/assets/fonts/BookerlyLight.ttf");
  font-weight: light;
}

@font-face {
  font-family: 'Walmart';
  src: url("../../assets/fonts/Walmart.TTF");
}


.App {
  text-align: center;
  // background-color: #262626;
  // background-color: #ffebcd;
  height: 100vh;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}