.store-products {
  font-family: 'Walmart';
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;

  width: 74%;
}

.products-container {
  max-width: 1065px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}